#unit-conversion-form {
  #field-rows {
    margin-bottom: 15px;
    .row {
      margin-bottom: 15px;
      // border-radius: 6px;
    }
    .row:nth-child(odd) {
      // background-color: #f6f6f6;
      // padding: 10px 0;
      > .form-wrapper {
        background-color: #f6f6f6;
      }
    }
    .row:last-child {
      margin-bottom: 0;
    }
  }
  .multiplicand-wrapper,
  .multiplier-wrapper {
    width: 49%;
    float: left;
    padding: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    // border: 1px solid #eee;
    border: 1px solid #ccc;
    // border-radius: 6px;
    box-sizing: border-box;
    @media only screen and (max-width: 640px) {
      width: 100%;
      float: none;
      margin-bottom: 15px;
    }
    > p {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: bold;
    }
    > .form-group {
      width: 31%;
      padding-left: 1%;
      padding-right: 1%;
      float: left;
      margin-bottom: 15px;
      box-sizing: border-box;
      @media only screen and (max-width: 640px) {
        width: 100%;
        float: none;
        margin-bottom: 15px;
      }
      > .form-item {
        margin-bottom: 0;
        input {
          max-width: 100%;
        }
        input[readonly="readonly"] {
          background-color: #eee;
          cursor: default;
        }
      }
    }
    .help-block {
      font-size: 0.8em;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

.uc-table {
  width: 100%;
}