#unit-conversion-form #field-rows {
  margin-bottom: 15px;
}
#unit-conversion-form #field-rows .row {
  margin-bottom: 15px;
}
#unit-conversion-form #field-rows .row:nth-child(odd) > .form-wrapper {
  background-color: #f6f6f6;
}
#unit-conversion-form #field-rows .row:last-child {
  margin-bottom: 0;
}
#unit-conversion-form .multiplicand-wrapper, #unit-conversion-form .multiplier-wrapper {
  width: 49%;
  float: left;
  padding: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

@media only screen and (max-width: 640px) {

#unit-conversion-form .multiplicand-wrapper, #unit-conversion-form .multiplier-wrapper {
  width: 100%;
  float: none;
  margin-bottom: 15px;
}

}

#unit-conversion-form .multiplicand-wrapper > p, #unit-conversion-form .multiplier-wrapper > p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

#unit-conversion-form .multiplicand-wrapper > .form-group, #unit-conversion-form .multiplier-wrapper > .form-group {
  width: 31%;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
  margin-bottom: 15px;
  box-sizing: border-box;
}

@media only screen and (max-width: 640px) {

#unit-conversion-form .multiplicand-wrapper > .form-group, #unit-conversion-form .multiplier-wrapper > .form-group {
  width: 100%;
  float: none;
  margin-bottom: 15px;
}

}
#unit-conversion-form .multiplicand-wrapper > .form-group > .form-item, #unit-conversion-form .multiplier-wrapper > .form-group > .form-item {
  margin-bottom: 0;
}
#unit-conversion-form .multiplicand-wrapper > .form-group > .form-item input, #unit-conversion-form .multiplier-wrapper > .form-group > .form-item input {
  max-width: 100%;
}
#unit-conversion-form .multiplicand-wrapper > .form-group > .form-item input[readonly="readonly"], #unit-conversion-form .multiplier-wrapper > .form-group > .form-item input[readonly="readonly"] {
  background-color: #eee;
  cursor: default;
}
#unit-conversion-form .multiplicand-wrapper .help-block, #unit-conversion-form .multiplier-wrapper .help-block {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0;
}

.uc-table {
  width: 100%;
}
