/*-----------------------------------
|                                   |
|        Views field style          |
|                                   |
-----------------------------------*/


.uc-wrapper {
  .uc-toggle-button {
    cursor: pointer;
    font-size: 1em;
    border-bottom: none;
    margin-bottom: 15px;
    span {
      background-color: #333;
      color: #FFF;
      padding: 6px 10px;
      border-radius: 4px;
    }
    span:after {
      content: "\f107";
      font-family: 'FontAwesome';
      margin-left: 5px;
    }
  }
  .uc-toggle-button.expanded {
    span:after {
      content: "\f106";
    }
  }
  .field-content {
    ul {
      padding-left: 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      li:last-child {
        border-bottom: none;
      }
      li {
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #ccc;
      }
    }
  }
  .uc-group {
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    .uc-attribute {
      box-sizing: border-box;
    }
    .display-label {
      width: 30%;
      float: left;
      padding-left: 5%;
      padding-right: 5%;
    }
    .multiplicand {
      width: 30%;
      float: left;
      box-sizing: border-box;
      .multiplicand-value {
        float: left;
        width: 60%;
        text-align: right;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
      }
      .multiplicand-label {
        float: left;
        width: 40%;
      }
    } // .multiplicand
    
    .multiplier {
      width: 40%;
      float: left;
      box-sizing: border-box;
      .multiplier-value {
        width: 60%;
        float: left;
        text-align: right;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
      }
      .multiplier-label {
        float: left;
        width: 40%;
      }
    } // .multiplier
  } // .uc-group
  .uc-group:before,
  .uc-group:after {
    content: "";
    display: table;
  }
  .uc-group:after {
    clear: both;
  } 
}