/*-----------------------------------
|                                   |
|        Views field style          |
|                                   |
-----------------------------------*/
.uc-wrapper .uc-toggle-button {
  cursor: pointer;
  font-size: 1em;
  border-bottom: none;
  margin-bottom: 15px; }
  .uc-wrapper .uc-toggle-button span {
    background-color: #333;
    color: #FFF;
    padding: 6px 10px;
    border-radius: 4px; }
  .uc-wrapper .uc-toggle-button span:after {
    content: "\f107";
    font-family: 'FontAwesome';
    margin-left: 5px; }
.uc-wrapper .uc-toggle-button.expanded span:after {
  content: "\f106"; }
.uc-wrapper .field-content ul {
  padding-left: 0;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .uc-wrapper .field-content ul li:last-child {
    border-bottom: none; }
  .uc-wrapper .field-content ul li {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc; }
.uc-wrapper .uc-group {
  width: 100%;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden; }
  .uc-wrapper .uc-group .uc-attribute {
    box-sizing: border-box; }
  .uc-wrapper .uc-group .display-label {
    width: 30%;
    float: left;
    padding-left: 5%;
    padding-right: 5%; }
  .uc-wrapper .uc-group .multiplicand {
    width: 30%;
    float: left;
    box-sizing: border-box; }
    .uc-wrapper .uc-group .multiplicand .multiplicand-value {
      float: left;
      width: 60%;
      text-align: right;
      padding-left: 5%;
      padding-right: 5%;
      box-sizing: border-box; }
    .uc-wrapper .uc-group .multiplicand .multiplicand-label {
      float: left;
      width: 40%; }
  .uc-wrapper .uc-group .multiplier {
    width: 40%;
    float: left;
    box-sizing: border-box; }
    .uc-wrapper .uc-group .multiplier .multiplier-value {
      width: 60%;
      float: left;
      text-align: right;
      padding-left: 5%;
      padding-right: 5%;
      box-sizing: border-box; }
    .uc-wrapper .uc-group .multiplier .multiplier-label {
      float: left;
      width: 40%; }
.uc-wrapper .uc-group:before, .uc-wrapper .uc-group:after {
  content: "";
  display: table; }
.uc-wrapper .uc-group:after {
  clear: both; }
