/*-----------------------------------
|                                   |
|           Widget style            |
|                                   |
-----------------------------------*/
.field-widget-unit-conversion-widget .fieldset-wrapper .form-item {
  max-width: 20%;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
  float: left;
  box-sizing: border-box; }
  .field-widget-unit-conversion-widget .fieldset-wrapper .form-item input[type='text'] {
    width: 100%; }

/*-----------------------------------
|                                   |
|           Field style             |
|                                   |
-----------------------------------*/
.uc-toggle-button {
  cursor: pointer;
  font-size: 1em;
  border-bottom: none;
  margin-bottom: 15px; }
  .uc-toggle-button span {
    background-color: #333;
    color: #FFF;
    padding: 6px 10px;
    border-radius: 4px; }
  .uc-toggle-button span:after {
    content: "\f107";
    font-family: 'FontAwesome';
    margin-left: 5px; }

.field-type-unit-conversion .field-label {
  margin-bottom: 15px; }
.field-type-unit-conversion .field-items {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px; }
  .field-type-unit-conversion .field-items .field-item:last-child {
    border-bottom: none; }
  .field-type-unit-conversion .field-items .field-item {
    border-bottom: 1px solid #ccc; }
    .field-type-unit-conversion .field-items .field-item .uc-group {
      width: 100%;
      box-sizing: border-box;
      padding-top: 5px;
      padding-bottom: 5px;
      overflow: hidden; }
      .field-type-unit-conversion .field-items .field-item .uc-group .uc-attribute {
        box-sizing: border-box; }
      .field-type-unit-conversion .field-items .field-item .uc-group .display-label {
        width: 30%;
        float: left;
        padding-left: 5%;
        padding-right: 5%; }
      .field-type-unit-conversion .field-items .field-item .uc-group .multiplicand {
        width: 30%;
        float: left;
        box-sizing: border-box; }
        .field-type-unit-conversion .field-items .field-item .uc-group .multiplicand .multiplicand-value {
          float: left;
          width: 60%;
          text-align: right;
          padding-left: 5%;
          padding-right: 5%;
          box-sizing: border-box; }
        .field-type-unit-conversion .field-items .field-item .uc-group .multiplicand .multiplicand-label {
          float: left;
          width: 40%; }
      .field-type-unit-conversion .field-items .field-item .uc-group .multiplier {
        width: 40%;
        float: left;
        box-sizing: border-box; }
        .field-type-unit-conversion .field-items .field-item .uc-group .multiplier .multiplier-value {
          width: 60%;
          float: left;
          text-align: right;
          padding-left: 5%;
          padding-right: 5%;
          box-sizing: border-box; }
        .field-type-unit-conversion .field-items .field-item .uc-group .multiplier .multiplier-label {
          float: left;
          width: 40%; }
    .field-type-unit-conversion .field-items .field-item .uc-group:before, .field-type-unit-conversion .field-items .field-item .uc-group:after {
      content: "";
      display: table; }
    .field-type-unit-conversion .field-items .field-item .uc-group:after {
      clear: both; }
  .field-type-unit-conversion .field-items .field-item:last-child {
    border-bottom: none; }

.uc-created {
  font-size: 0.8em;
  margin-bottom: 15px; }
  .uc-created span {
    margin-right: 5px; }
